@model CinemaSchedule.Models.CinemaData

<div style="margin-top: 20px;">

    @using (Html.BeginForm("GetSchedule", "Cinema", FormMethod.Post))
    {

        @Html.TextBoxFor(a => a.DateTime, new { type = "date" })

        @Html.TextBox("Show", "Показать", new { type = "submit" })
        @Html.TextBox("Add", "Добавить", new { type = "button" })
        @Html.ActionLink("Добавить", "AddMovie", "Cinema", null, new { type = "button" })
        @*@Html.ActionLink("Добавить", "AddMovie", "Cinema", new { data = Model == null ? new DateTime() : Model.DateTime }, null)*@
        <a href="/Cinema/AddMovie" class="Button">Text</a>
    }

    <br>

    @if (Model != null)
    {

        <table class="table table-bordered" style="border:none">
            <tr class="active">
                <th>Кинотеатр</th>
                <th>Фильм</th>
                <th>Сеансы</th>
            </tr>
            @foreach (var session in Model.Cinema)
                {
                <tr>
                    <td>
                        @Html.Label(session.Theater)
                    </td>
                </tr>
                foreach (var vv in session.Movies)
                {
                    <tr>
                        <td style="border: none"></td>
                        <td>
                            @Html.Label(vv.MovieTitle)
                        </td>

                        <td>
                            @foreach (var qwe in vv.MovieSessions)
                            {
                                var lastElem = vv.MovieSessions.LastOrDefault();
                                var time = string.Format("{0:hh\\:mm}", qwe);


                                @Html.Label(lastElem == qwe ? time : time + ",", new { style = "padding-left: 4px" })
                            }
                        </td>

                        <td style="border: none">
                            @{

                                var datawer = new CinemaSchedule.Models.BaseData()
                                {
                                    SelectedSession = null,
                                     Date = string.Format("{0:dd/MM/yyyy}", Model.DateTime),
                                    Theater = session.Theater,
                                    //Movies = new List<CinemaSchedule.Models.MovieData>()
                                    //{
                                    //    new CinemaSchedule.Models.MovieData()
                                    //    {
                                    //        MovieTitle = vv.MovieTitle,
                                    //        MovieSessions = vv.MovieSessions
                                    //    }
                                    //}
                                    MovieData = new CinemaSchedule.Models.MovieData()
                                    {
                                        MovieTitle = vv.MovieTitle,
                                        MovieSessions = vv.MovieSessions
                                    }


                                };

                            }
                            @Html.ActionLink("Редактировать", "EditMovie", "Cinema", new { session = Json.Encode(datawer) }, null)
                        </td>

                    </tr>


                                    }
                                }
        </table>


                                }
</div>
